@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Readex+Pro:wght@160..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.sub-heading h4 {
  margin-bottom: 0.5rem;
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.heading h3 {
  margin-bottom: 2rem;
  color: #b88e2f;
  font-family: "Poppins", sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 65px;
}

.para p {
  margin-bottom: 3rem;
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
* a {
  text-decoration: none;
  color: #333333;
  display: inline-block;
}
* li {
  list-style: none;
}

.container {
  width: 1440px;
  margin: 50px auto;
}

.navbar {
  width: 1440px;
  margin: 0 auto;
  padding: 22px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.navbar .list-group ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.navbar .list-group ul li {
  text-align: center;
  margin-right: 70px;
}
.navbar .list-group ul li a {
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.navbar .list-group ul li:last-child {
  margin: 0;
}
.navbar .link-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .link-group .link-item {
  margin-right: 70px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.navbar .link-group .link-item a > img {
  width: 26px;
  height: 26px;
}
.navbar .link-group .link-item:last-child {
  margin: 0;
}

.hero-section {
  width: 100%;
  height: 750px;
  position: relative;
}
.hero-section .hero-img-area {
  width: 100vw;
  height: 100%;
  position: relative;
}
.hero-section .hero-img-area img {
  width: 100%;
  height: 100%;
  background-position: center;
  object-fit: cover;
}
.hero-section .hero-text-area {
  max-width: 700px;
  position: absolute;
  top: 18%;
  right: 10%;
  padding: 40px 50px;
  color: #b88e2f;
  background-color: #fff3e3;
  border-radius: 10px;
  text-align: left;
}
.hero-section .button a {
  color: #fff;
  background: #b88e2f;
  padding: 25px 70px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  border-radius: 2px;
}

.product-section {
  margin: 100px auto;
  width: 70%;
}
.product-section h3 {
  color: #3a3a3a;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;
  text-align: center;
}
.product-section .product-wrap {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 32px;
  position: relative;
}
.product-section .product-wrap .card {
  position: relative;
  overflow: hidden;
}
.product-section .product-wrap .card .card-img {
  position: relative;
  width: 100%;
  height: auto;
}
.product-section .product-wrap .card .card-img .product-badge {
  position: absolute;
  top: 18px;
  right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #e97171;
  color: #fff;
  text-align: center;
}
.product-section .product-wrap .card .card-img .product-badge span {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: inherit;
}
.product-section .product-wrap .card .card-img .badge-new {
  background: #2ec1ac;
}
.product-section .product-wrap .card .card-img img {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
}
.product-section .product-wrap .card .card-detail {
  background: #f4f5f7;
  padding: 16px 24px;
}
.product-section .product-wrap .card .card-detail h4 {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 600;
  line-height: inherit;
}
.product-section .product-wrap .card .card-detail p {
  margin-top: 5px;
  color: #898989;
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
}
.product-section .product-wrap .card .card-detail h5 {
  margin-top: 5px;
  color: #3a3a3a;
  font-size: 20px;
  font-weight: 600;
  line-height: inherit;
}
.product-section .product-wrap .card .card-detail h5 span {
  margin-left: 8px;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
  text-align: center;
}
.product-section .product-wrap .card .hover {
  position: absolute;
  top: 0;
  left: 50%;
  transition: 0.5s ease;
  transform: translate(-50%, -20px);
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 480px;
  background: rgba(58, 58, 58, 0.7764705882);
  text-align: center;
}
.product-section .product-wrap .card .hover .hover-button {
  color: #b88e2f;
  background: #fff;
  padding: 16px 60px;
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
}
.product-section .product-wrap .card .hover .hover-react {
  margin-top: 30px;
  display: flex;
}
.product-section .product-wrap .card .hover .hover-react a {
  width: 100%;
  margin-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
}
.product-section .product-wrap .card .hover .hover-react a span {
  margin-right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-section .product-wrap .card .hover .hover-react a span img {
  width: 20px;
  height: 20px;
}
.product-section .product-wrap .card:hover .hover {
  visibility: visible;
  opacity: 1;
  transform: translateX(0, 0);
}
.product-section .product-wrap .card:hover .card-img > .product-badge {
  visibility: hidden;
  opacity: none;
}
.product-section .button {
  display: flex;
  justify-content: center;
  margin: 32px auto;
}
.product-section .button a {
  color: #b88e2f;
  border: 1px solid #b88e2f;
  border-radius: 2px;
  text-align: center;
  padding: 20px 72px;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.product-section .button a:hover {
  background: #fff3e3;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.browse-section {
  width: 100%;
  margin-top: 100px;
}
.browse-section .browse-header {
  text-align: center;
}
.browse-section .browse-header h3 {
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: inherit;
}
.browse-section .browse-header p {
  color: #666;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: inherit;
}
.browse-section .browse-items {
  margin: 0 auto;
  margin-top: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.browse-section .browse-items .browse-item {
  margin-right: 28px;
}
.browse-section .browse-items .browse-item:last-child {
  margin: 0;
}
.browse-section .browse-items .browse-item h4 {
  margin-top: 24px;
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: inherit;
}

.show-room-section {
  padding: 50px 150px;
  margin-top: 100px;
  background: #fcfbf3;
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
}
.show-room-section .text-area h4 {
  color: #3a3a3a;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}
.show-room-section .text-area h4 span {
  display: block;
  text-align: left;
}
.show-room-section .text-area p {
  margin-top: 8px;
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.show-room-section .text-area p span {
  display: block;
  text-align: left;
}
.show-room-section .text-area button {
  border: 0px;
  outline: none;
  border-radius: 2px;
  margin-top: 16px;
  padding: 17px 32px;
  background: #b88e2f;
}
.show-room-section .text-area button a {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
.show-room-section .img-area {
  display: flex;
  gap: 16px;
}

.gallery-section {
  margin: 0 150px;
  margin-top: 100px;
}
.gallery-section h4 {
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
}
.gallery-section h4 span {
  margin-top: 16px;
  display: block;
  color: #313131;
  font-size: 40px;
  font-weight: 600;
}

.grid-wrapper {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}
.grid-wrapper img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: inline-block;
  border-radius: 5px;
}
.grid-wrapper .item1 {
  grid-row: span 2;
  display: flex;
  justify-content: end;
}
.grid-wrapper .item2 {
  grid-row: span 2;
  grid-column: span 2;
  display: flex;
  align-items: end;
  justify-content: end;
}
.grid-wrapper .item3 {
  grid-row: span 3;
  display: flex;
  align-items: center;
  margin-top: 80px;
}
.grid-wrapper .item4 {
  display: flex;
  align-items: center;
  grid-row: span 2;
  margin-top: 155px;
}
.grid-wrapper .item5 {
  grid-column: span 2;
  grid-row: span 2;
}
.grid-wrapper .item6 {
  grid-row: span 2;
  grid-column: span 2;
  display: flex;
  justify-content: end;
}
.grid-wrapper .item8 > img {
  width: 100%;
}
.grid-wrapper .item9 {
  grid-row: span 2;
  margin-top: 18px;
}

footer {
  border-top: 2px solid #d9d9d9;
}
footer .copyright-area {
  border-top: 0.5px solid #d9d9d9;
}
footer .copyright-area p {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: inherit;
}

.footer-section {
  margin: 0 100px;
  margin-top: 68px;
  display: flex;
  justify-content: space-evenly;
}
.footer-section .brand-area .brand-logo {
  position: relative;
  display: inline-block;
}
.footer-section .brand-area .brand-logo img {
  width: 80px;
  height: auto;
}
.footer-section .brand-area .brand-logo::after {
  content: "";
  position: absolute;
  background-color: #333333;
  bottom: 4px;
  right: -8px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.footer-section .brand-area p {
  margin-top: 52px;
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: inherit;
}
.footer-section .link-heading,
.footer-section .input-heading,
.footer-section .link-item {
  margin-bottom: 68px;
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.footer-section .group .link-items > .link-item {
  margin-bottom: 32px;
  color: #000;
  font-family: "Poppins", sans-serif;
}
.footer-section .input-group input {
  border: 0px;
  outline: none;
  margin-right: 10px;
  padding: 5px 0;
  border-bottom: 1px solid #333333;
  color: #333333;
}
.footer-section .input-group input::placeholder {
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.footer-section .input-group .subscribe {
  padding: 5px 0;
  border-bottom: 1px solid #333333;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.shop-page .product-section {
  margin-top: 0;
}

.shop-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/assets/shop-header.png);
  background-repeat: no-repeat;
  object-fit: cover;
  margin: 0 auto;
  width: 1440px;
  height: 260px;
  text-align: center;
}
.shop-heading h3 {
  color: #000;
  font-size: 48px;
  font-weight: 500;
  line-height: 150%;
}
.shop-heading p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-heading p a {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.shop-heading p .active {
  font-weight: 300;
}
.shop-heading p span {
  margin: 0 8px;
  font-weight: 400;
  font-size: 24px;
}

.shop-filtering {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
  padding: 42px 48px;
  background: #f9f1e7;
}
.shop-filtering .filter-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-filtering .filter-area .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-filtering .filter-area .icons img {
  margin-right: 22px;
}
.shop-filtering .filter-area .icons img:first-child {
  margin-right: 8px;
}
.shop-filtering .filter-area .icons span {
  margin-right: 22px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: inherit;
}
.shop-filtering .filter-area .vartical {
  margin-right: 22px;
  background: #9f9f9f;
  width: 2px;
  height: 37px;
}
.shop-filtering .filter-area p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.shop-filtering .selection-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-filtering .selection-area p {
  margin-left: 22px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: inherit;
}
.shop-filtering .selection-area p span {
  margin-left: 8px;
  padding: 12px 16px;
  color: #9f9f9f;
  background: #fff;
}

.shop-bottom {
  width: 1440px;
  background: #faf3ea;
  margin: 0 auto;
  padding: 100px 55px;
}
.shop-bottom .services {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop-bottom .services .service {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.shop-bottom .services .service p {
  margin-left: 16px;
  color: #121212;
  font-size: 25px;
  font-weight: 500;
  line-height: 150%;
}
.shop-bottom .services .service p span {
  margin-top: 8px;
  display: block;
  color: #898989;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.single-product-section > .product-section {
  width: 100%;
}
.single-product-section > .product-section .product-wrap {
  display: flex;
  justify-content: space-between;
}
.single-product-section > .product-section h3 {
  color: #000;
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
}
.single-product-section > .product-section .show-more {
  display: flex;
  justify-content: center;
  margin-top: 46px;
}
.single-product-section > .product-section .show-more .show-more-btn {
  color: #b88e2f;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px 52px;
  border: 1px solid #b88e2f;
}

.cart-middle {
  display: flex;
  gap: 32px;
  width: 1440px;
  margin: 70px auto;
  margin-bottom: 90px;
  padding: 0 100px;
}
.cart-middle .cart-heading {
  width: 810px;
  display: flex;
  justify-content: space-between;
  background: #f9f1e7;
  border-radius: 5px;
  padding: 16px 72px;
}
.cart-middle .cart-heading h5 {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
  text-transform: capitalize;
}
.cart-middle .cart-heading .product {
  margin-left: 80px;
}
.cart-middle .cart-heading > div,
.cart-middle .cart-detail > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.cart-middle .cart-detail > div > .product {
  color: #9f9f9f;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}
.cart-middle .cart-detail {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding: 0 8px;
}
.cart-middle .cart-detail .quantity {
  border: 1px solid #9f9f9f;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
}
.cart-middle .cart-total {
  height: auto;
  background: #f9f1e7;
  padding: 38px 42px;
  border-radius: 5px;
  text-align: center;
}
.cart-middle .cart-total h4 {
  margin-bottom: 24px;
  color: #000;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  text-transform: capitalize;
}
.cart-middle .cart-total p {
  margin-top: 32px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.cart-middle .cart-total p span {
  margin-left: 32px;
  color: #9f9f9f;
}
.cart-middle .cart-total p .total {
  color: #b88e2f;
  font-size: 20px;
}
.cart-middle .cart-total .checkout-btn {
  margin: 48px;
  padding: 18px 56px;
  border: 1px solid #000;
  border-radius: 15px;
  color: #000;
  font-size: 19.9px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
}

.checkout-section {
  display: flex;
  margin: 64px 96px;
}
.checkout-section .billing-detail {
  padding: 72px 78px;
  flex: 1;
}
.checkout-section .billing-detail h2 {
  color: #000;
  font-size: 36px;
  font-weight: 600;
  line-height: inherit;
  margin-bottom: 42px;
  padding: 10px 0;
}
.checkout-section .billing-detail .input-group {
  margin-bottom: 42px;
}
.checkout-section .billing-detail .input-group label {
  margin-bottom: 24px;
  display: block;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
}
.checkout-section .billing-detail .input-group input {
  width: 100%;
  padding: 32px;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
}
.checkout-section .billing-detail .group-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.checkout-section .billing-detail .dropdown-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 42px;
}
.checkout-section .billing-detail .dropdown-group label {
  margin-bottom: 24px;
  display: block;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
}
.checkout-section .billing-detail select,
.checkout-section .billing-detail .input-item > input {
  width: 250px;
  padding: 32px;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  color: #9f9f9f;
  font-size: 16px;
  font-weight: 400;
  line-height: inherit;
}
.checkout-section .billing-detail .text-area {
  margin-top: 48px;
}
.checkout-section .billing-detail .text-area textarea {
  padding: 32px;
  width: 100%;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  resize: none;
}
.checkout-section .billing-detail input,
.checkout-section .billing-detail select,
.checkout-section .billing-detail textarea:focus {
  border-color: #707070;
  outline: none;
}
.checkout-section .product-transition {
  flex: 1;
  padding: 96px 32px;
}
.checkout-section .product-transition .total-transition {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
}
.checkout-section .product-transition .total-transition .headings h2,
.checkout-section .product-transition .total-transition .headings p,
.checkout-section .product-transition .total-transition .headings span,
.checkout-section .product-transition .total-transition .texts h2,
.checkout-section .product-transition .total-transition .texts p,
.checkout-section .product-transition .total-transition .texts span {
  margin-bottom: 26px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: inherit;
}
.checkout-section .product-transition .total-transition .headings h2,
.checkout-section .product-transition .total-transition .texts h2 {
  font-size: 24px;
  font-weight: 500;
}
.checkout-section .product-transition .total-transition .headings .asgaard-sofa,
.checkout-section .product-transition .total-transition .texts .asgaard-sofa {
  color: #898989;
}
.checkout-section .product-transition .total-transition .headings .asgaard-sofa span,
.checkout-section .product-transition .total-transition .texts .asgaard-sofa span {
  color: #000;
  margin-left: 0.5rem;
  font-size: 12px;
}
.checkout-section .product-transition .total-transition .texts span {
  display: block;
  text-align: end;
}
.checkout-section .product-transition .total-transition .texts .total {
  color: #b88e2f;
  font-size: 24px;
  font-weight: 700;
  line-height: inherit;
}
.checkout-section .product-transition .total-transition .texts h2 {
  text-align: end;
}
.checkout-section .product-transition .total-transition-way {
  margin-top: 42px;
}
.checkout-section .product-transition .total-transition-way ul > li {
  margin-bottom: 22px;
}
.checkout-section .product-transition .total-transition-way ul > li label {
  margin-left: 8px;
}
.checkout-section .product-transition .total-transition-way ul > li .content {
  margin-top: 8px;
  padding-left: 16px;
}
.checkout-section .placeorder-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
.checkout-section .placeorder-btn .placeorder {
  margin-top: 36px;
  padding: 16px 96px;
  text-align: center;
  border: 1px solid #333333;
  border-radius: 10px;
  color: black;
  font-size: 20px;
  font-weight: 400;
}

.headings {
  width: 720px;
  margin: 0 auto;
  text-align: center;
}
.headings h3 {
  color: #000;
  font-size: 36px;
  font-weight: 600;
  line-height: inherit;
  text-align: center;
}
.headings p {
  margin-top: 24px;
  color: #9f9f9f;
  font-size: 16px;
  font-weight: 400;
  line-height: inherit;
  text-align: center;
}

.contact-area {
  width: 1220px;
  display: flex;
  gap: 24px;
  margin: 0 auto;
  padding: 100px 50px;
}
.contact-area .contact-detail {
  width: 100%;
}
.contact-area .contact-detail .icon > img {
  width: 30px;
}
.contact-area .contact-detail .detail-item {
  display: flex;
  gap: 28px;
  margin-bottom: 42px;
}
.contact-area .contact-detail .detail-item .texts h4 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: inherit;
}
.contact-area .contact-detail .detail-item .texts p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: inherit;
}
.contact-area .contact-detail .detail-item .texts p span {
  display: block;
}
.contact-area .contact-form {
  width: 100%;
}
.contact-area .contact-form .form-item {
  margin-bottom: 42px;
}
.contact-area .contact-form .form-item label {
  margin-bottom: 16px;
  display: block;
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
}
.contact-area .contact-form .form-item input,
.contact-area .contact-form .form-item #massage {
  width: 100%;
  padding: 30px;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  resize: none;
}
.contact-area .contact-form .form-item input::placeholder,
.contact-area .contact-form .form-item #massage::placeholder {
  color: #9f9f9f;
  font-size: 16px;
  font-weight: 400;
  line-height: inherit;
}
.contact-area .contact-form .contact-btn {
  display: inline-block;
  padding: 16px 88px;
  background: #b88e2f;
  border-radius: 5px;
}
.contact-area .contact-form .contact-btn a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: inherit;
}

.blog-section {
  margin: 100px;
  margin-bottom: 0;
  display: flex;
  gap: 32px;
}
.blog-section .blog-item {
  width: 100%;
  overflow: hidden;
  margin-bottom: 52px;
}
.blog-section .blog-item .date {
  display: flex;
  margin: 12px 0;
  gap: 32px;
}
.blog-section .blog-item .date .date-icon {
  display: flex;
}
.blog-section .blog-item .date .date-icon p {
  display: inline-block;
  margin-left: 10px;
  color: #9f9f9f;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
}
.blog-section .blog-item .blog-heading {
  margin: 10px 0;
  color: #000;
  font-size: 30px;
  font-weight: 500;
  line-height: 64px;
}
.blog-section .blog-item .blog-para {
  width: 800px;
  color: #9f9f9f;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  text-align: justify;
}
.blog-section .blog-item #read-more {
  margin-top: 22px;
  padding-bottom: 0.5rem;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-bottom: 1px solid #333333;
}
.blog-section .aside-bar-area {
  width: 100%;
  padding: 0 36px;
}
.blog-section .aside-bar-area .blog-search {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.blog-section .aside-bar-area .blog-search #search {
  width: 100%;
  padding: 20px;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
}
.blog-section .aside-bar-area .blog-search #search:focus {
  border: 1px solid #898989;
  outline: none;
}
.blog-section .aside-bar-area .blog-search #search-icon {
  position: absolute;
  top: 25%;
  right: 10px;
  width: 28px;
}
.blog-section .aside-bar-area .categories-area,
.blog-section .aside-bar-area .recent-post {
  padding: 32px;
}
.blog-section .aside-bar-area .categories-area h3,
.blog-section .aside-bar-area .recent-post h3 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.blog-section .aside-bar-area .categories-area .cate-item,
.blog-section .aside-bar-area .recent-post .cate-item {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  color: #9f9f9f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.blog-section .aside-bar-area .recent-post > .post-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-top: 38px;
}
.blog-section .aside-bar-area .recent-post > .post-item P {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
.blog-section .aside-bar-area .recent-post > .post-item P span {
  display: block;
  color: #9f9f9f;
  font-size: 12px;
}

/*# sourceMappingURL=main.css.map */
