@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Readex+Pro:wght@160..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.sub-heading h4 {
  margin-bottom: 0.5rem;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.heading h3 {
  margin-bottom: 2rem;
  color: #b88e2f;
  font-family: "Poppins", sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 65px;
}

.para p {
  margin-bottom: 3rem;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
* a {
  text-decoration: none;
  color: #333;
  display: inline-block;
}
* li {
  list-style: none;
}

.navbar {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1882352941);
  padding: 16px;
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.navbar .list-group ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.navbar .list-group ul li {
  text-align: center;
  margin-right: 70px;
}
.navbar .list-group ul li a {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.navbar .list-group ul li:last-child {
  margin: 0;
}
.navbar .link-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .link-group .link-item {
  margin-right: 70px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.navbar .link-group .link-item a > img {
  width: 26px;
  height: 26px;
}
.navbar .link-group .link-item:last-child {
  margin: 0;
}

.hero-section {
  width: 100%;
  height: 750px;
  position: relative;
}
.hero-section .hero-img-area {
  width: 100vw;
  height: 100%;
  position: relative;
}
.hero-section .hero-img-area img {
  width: 100%;
  height: 100%;
  background-position: center;
  object-fit: cover;
}
.hero-section .hero-text-area {
  max-width: 700px;
  position: absolute;
  top: 18%;
  right: 10%;
  padding: 40px 50px;
  color: #b88e2f;
  background-color: #fff3e3;
  border-radius: 10px;
  text-align: left;
}
.hero-section .button a {
  color: #fff;
  background: #b88e2f;
  padding: 25px 70px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  border-radius: 2px;
}

.product-section {
  margin: 70px 250px;
}
.product-section h3 {
  color: #3a3a3a;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;
  text-align: center;
}
.product-section .product-wrap {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 32px;
  position: relative;
}
.product-section .product-wrap .card {
  position: relative;
  overflow: hidden;
}
.product-section .product-wrap .card .card-img {
  position: relative;
  width: 100%;
  height: auto;
}
.product-section .product-wrap .card .card-img .product-badge {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #e97171;
  color: #fff;
  text-align: center;
}
.product-section .product-wrap .card .card-img .product-badge span {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: inherit;
}
.product-section .product-wrap .card .card-img img {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
}
.product-section .product-wrap .card .card-detail {
  background: #f4f5f7;
  padding: 16px 24px;
}
.product-section .product-wrap .card .card-detail h4 {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 600;
  line-height: inherit;
}
.product-section .product-wrap .card .card-detail p {
  margin-top: 5px;
  color: #898989;
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
}
.product-section .product-wrap .card .card-detail h5 {
  margin-top: 5px;
  color: #3a3a3a;
  font-size: 20px;
  font-weight: 600;
  line-height: inherit;
}
.product-section .product-wrap .card .card-detail h5 span {
  margin-left: 8px;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
  text-align: center;
}
.product-section .product-wrap .card .hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 480px;
  background: rgba(110, 110, 111, 0.4666666667);
  text-align: center;
}
.product-section .product-wrap .card .hover .hover-button {
  color: #b88e2f;
  background: #fff;
  padding: 16px 60px;
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
}
.product-section .product-wrap .card .hover .hover-react {
  margin-top: 30px;
  display: flex;
}
.product-section .product-wrap .card .hover .hover-react a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
}

.browse-section {
  width: 100%;
  margin-top: 100px;
}
.browse-section .browse-header {
  text-align: center;
}
.browse-section .browse-header h3 {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: inherit;
}
.browse-section .browse-header p {
  color: #666;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: inherit;
}
.browse-section .browse-items {
  margin: 0 auto;
  margin-top: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.browse-section .browse-items .browse-item {
  margin-right: 28px;
}
.browse-section .browse-items .browse-item:last-child {
  margin: 0;
}
.browse-section .browse-items .browse-item h4 {
  margin-top: 24px;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: inherit;
}

.show-room-section {
  padding: 50px 150px;
  margin-top: 100px;
  background: #fcfbf3;
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
}
.show-room-section .text-area h4 {
  color: #3a3a3a;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}
.show-room-section .text-area h4 span {
  display: block;
  text-align: left;
}
.show-room-section .text-area p {
  margin-top: 8px;
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.show-room-section .text-area p span {
  display: block;
  text-align: left;
}
.show-room-section .text-area button {
  border: 0px;
  outline: none;
  border-radius: 2px;
  margin-top: 16px;
  padding: 17px 32px;
  background: #b88e2f;
}
.show-room-section .text-area button a {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
.show-room-section .img-area {
  display: flex;
  gap: 16px;
}

.gallery-section {
  margin: 0 150px;
  margin-top: 100px;
}
.gallery-section h4 {
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
}
.gallery-section h4 span {
  margin-top: 16px;
  display: block;
  color: #313131;
  font-size: 40px;
  font-weight: 600;
}

.grid-wrapper {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}
.grid-wrapper img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: inline-block;
  border-radius: 5px;
}
.grid-wrapper .item1 {
  grid-row: span 2;
  display: flex;
  justify-content: end;
}
.grid-wrapper .item2 {
  grid-row: span 2;
  grid-column: span 2;
  display: flex;
  align-items: end;
  justify-content: end;
}
.grid-wrapper .item3 {
  grid-row: span 3;
  display: flex;
  align-items: center;
  margin-top: 80px;
}
.grid-wrapper .item4 {
  display: flex;
  align-items: center;
  grid-row: span 2;
  margin-top: 155px;
}
.grid-wrapper .item5 {
  grid-column: span 2;
  grid-row: span 2;
}
.grid-wrapper .item6 {
  grid-row: span 2;
  grid-column: span 2;
  display: flex;
  justify-content: end;
}
.grid-wrapper .item8 > img {
  width: 100%;
}
.grid-wrapper .item9 {
  grid-row: span 2;
  margin-top: 18px;
}

footer {
  border-top: 2px solid #d9d9d9;
  margin-top: 50px;
}
footer .copyright-area {
  border-top: 0.5px solid #d9d9d9;
}
footer .copyright-area p {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: inherit;
}

.footer-section {
  margin: 0 100px;
  margin-top: 68px;
  display: flex;
  justify-content: space-evenly;
}
.footer-section .brand-area .brand-logo {
  position: relative;
  display: inline-block;
}
.footer-section .brand-area .brand-logo img {
  width: 80px;
  height: auto;
}
.footer-section .brand-area .brand-logo::after {
  content: "";
  position: absolute;
  background-color: #333;
  bottom: 4px;
  right: -8px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.footer-section .brand-area p {
  margin-top: 52px;
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: inherit;
}
.footer-section .link-heading,
.footer-section .input-heading,
.footer-section .link-item {
  margin-bottom: 68px;
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.footer-section .group .link-items > .link-item {
  margin-bottom: 32px;
  color: #000;
  font-family: "Poppins", sans-serif;
}
.footer-section .input-group input {
  border: 0px;
  outline: none;
  margin-right: 10px;
  padding: 5px 0;
  border-bottom: 1px solid #333;
  color: #333;
}
.footer-section .input-group input::placeholder {
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.footer-section .input-group .subscribe {
  padding: 5px 0;
  border-bottom: 1px solid #333;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

/*# sourceMappingURL=main.css.map */
