@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Readex+Pro:wght@160..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// css variables
$base-color: #b88e2f;
// background color
$primary-bg-color: #fff3e3;
$secondary-bg-color: #f4f5f7;
// extra color
$primary-text-color: #333;
$secondary-text-color: #898989;
// align center
$center-margin: 0 auto;
// font family
$font-inter: "Inter", serif;
$font-poppins: "Poppins", sans-serif;
// mixin
@mixin display-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
// universal styling
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-inter;
  a {
    text-decoration: none;
    color: $primary-text-color;
    display: inline-block;
  }
  li {
    list-style: none;
    display: inline-block;
  }
}
// navbar styling start
.navbar {
  border-bottom: 0.5px solid $primary-text-color;
  padding: 0 16px;
  margin: 16px 30px;
  @include display-align;
  justify-content: space-between;
  .list-group {
    ul {
      @include display-align;
      justify-content: center;
      align-items: center;
      li {
        text-align: center;
        margin-right: 70px;
        a {
          color: $primary-text-color;
          font-family: $font-poppins;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
        }
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  .link-group {
    display: flex;
    justify-content: center;
    align-items: center;
    .link-item {
      margin-right: 70px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      a > img {
        width: 26px;
        height: 26px;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
}
// hero section styling start
