@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Readex+Pro:wght@160..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// partials//
// mixin
@mixin display-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
// partials
// css variables
$base-color: #b88e2f;
// background color
$primary-bg-color: #fff3e3;
$secondary-bg-color: #f4f5f7;
// extra color
$primary-text-color: #333333;
$secondary-text-color: #898989;
$bk-secondary: #3a3a3a;
// align center
$center-margin: 0 auto;
// font family
$font-inter: "Inter", serif;
$font-poppins: "Poppins", sans-serif;
// similar heading styling
.sub-heading {
  h4 {
    margin-bottom: 0.5rem;
    color: $primary-text-color;
    font-family: $font-poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
}
.heading {
  h3 {
    margin-bottom: 2rem;
    color: $base-color;
    font-family: $font-poppins;
    font-size: 52px;
    font-weight: 700;
    line-height: 65px;
  }
}
.para {
  p {
    margin-bottom: 3rem;
    color: $primary-text-color;
    font-family: $font-poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }
}
// universal styling
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-poppins;
  a {
    text-decoration: none;
    color: $primary-text-color;
    display: inline-block;
  }
  li {
    list-style: none;
  }
}

// navbar styling start
.navbar {
  border-bottom: 0.5px solid #00000030;
  padding: 16px;
  margin: 0 30px;
  @include display-align;
  justify-content: space-between;
  .list-group {
    ul {
      @include display-align;
      justify-content: center;
      align-items: center;
      li {
        text-align: center;
        margin-right: 70px;
        a {
          color: $primary-text-color;
          font-family: $font-poppins;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
        }
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  .link-group {
    display: flex;
    justify-content: center;
    align-items: center;
    .link-item {
      margin-right: 70px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      a > img {
        width: 26px;
        height: 26px;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
}
// hero section styling start
.hero-section {
  width: 100%;
  height: 750px;
  position: relative;

  .hero-img-area {
    width: 100vw;
    height: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      background-position: center;
      object-fit: cover;
    }
  }
  .hero-text-area {
    max-width: 700px;
    position: absolute;
    top: 18%;
    right: 10%;
    padding: 40px 50px;
    color: $base-color;
    background-color: $primary-bg-color;
    border-radius: 10px;
    text-align: left;
  }
  .button {
    a {
      color: #fff;
      background: $base-color;
      padding: 25px 70px;
      font-family: $font-poppins;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      text-transform: uppercase;
      border-radius: 2px;
    }
  }
}
// product tab section start
.product-section {
  margin: 100px auto;
  width: 70%;
  h3 {
    color: #3a3a3a;
    font-family: $font-poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
    text-align: center;
  }
  .product-wrap {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 32px;
    position: relative;
    .card {
      position: relative;
      overflow: hidden;

      .card-img {
        position: relative;
        width: 100%;
        height: auto;
        .product-badge {
          position: absolute;
          top: 18px;
          right: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          background: #e97171;
          color: #fff;
          text-align: center;

          span {
            font-family: $font-poppins;
            font-size: 15px;
            font-weight: 400;
            line-height: inherit;
          }
        }
        .badge-4,
        .badge-6,
        .badge-8 {
          background: #2ec1ac;
        }
        img {
          display: block;
          width: 100%;
          height: 100%;
          background-size: cover;
          object-fit: cover;
        }
      }
      .card-detail {
        background: #f4f5f7;
        padding: 16px 24px;
        h4 {
          color: $bk-secondary;
          font-size: 24px;
          font-weight: 600;
          line-height: inherit;
        }
        p {
          margin-top: 5px;
          color: $secondary-text-color;
          font-size: 16px;
          font-weight: 500;
          line-height: inherit;
        }
        h5 {
          margin-top: 5px;
          color: $bk-secondary;
          font-size: 20px;
          font-weight: 600;
          line-height: inherit;
          span {
            margin-left: 8px;
            color: $secondary-text-color;
            font-size: 16px;
            font-weight: 400;
            text-decoration: line-through;
            text-align: center;
          }
        }
      }

      .hover {
        position: absolute;
        top: 0;
        left: 50%;
        transition: 0.5s ease;
        transform: translate(-50%, -20px);
        visibility: hidden;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 480px;
        background: #3a3a3ac6;
        text-align: center;

        .hover-button {
          color: $base-color;
          background: #fff;
          padding: 16px 60px;
          font-size: 16px;
          font-weight: 500;
          line-height: inherit;
        }
        .hover-react {
          margin-top: 30px;
          display: flex;
          a {
            width: 100%;
            margin-right: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            line-height: inherit;
            span {
              margin-right: 2px;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
      &:hover .hover {
        visibility: visible;
        opacity: 1;
        transform: translateX(0, 0);
      }
      &:hover .card-img > .product-badge {
        visibility: hidden;
        opacity: none;
      }
    }
  }
  .button {
    display: flex;
    justify-content: center;
    margin: 32px auto;
    a {
      color: $base-color;
      border: 1px solid $base-color;
      border-radius: 2px;
      text-align: center;
      padding: 20px 72px;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
      &:hover {
        background: $primary-bg-color;
        transition: all 0.3s ease;
        border-radius: 5px;
      }
    }
  }
}

// browse section styling start
.browse-section {
  width: 100%;
  margin-top: 100px;

  .browse-header {
    text-align: center;
    h3 {
      color: $primary-text-color;
      font-family: $font-poppins;
      font-size: 32px;
      font-weight: 600;
      line-height: inherit;
    }
    p {
      color: #666;
      font-family: $font-poppins;
      font-size: 20px;
      font-weight: 400;
      line-height: inherit;
    }
  }
  .browse-items {
    margin: 0 auto;
    margin-top: 42px;
    @include display-align;
    text-align: center;
    .browse-item {
      margin-right: 28px;
      &:last-child {
        margin: 0;
      }
      h4 {
        margin-top: 24px;
        color: $primary-text-color;
        font-family: $font-poppins;
        font-size: 24px;
        font-weight: 500;
        line-height: inherit;
      }
    }
  }
}
// show-room section start
.show-room-section {
  padding: 50px 150px;
  margin-top: 100px;
  background: #fcfbf3;
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
  .text-area {
    h4 {
      color: #3a3a3a;
      font-family: $font-poppins;
      font-size: 40px;
      font-weight: 700;
      line-height: 120%;
      span {
        display: block;
        text-align: left;
      }
    }
    p {
      margin-top: 8px;
      color: #616161;
      font-family: $font-poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
      span {
        display: block;
        text-align: left;
      }
    }
    button {
      border: 0px;
      outline: none;
      border-radius: 2px;
      margin-top: 16px;
      padding: 17px 32px;
      background: $base-color;
      a {
        color: #fff;
        font-family: $font-poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
      }
    }
  }
  .img-area {
    display: flex;
    gap: 16px;
  }
}
// gallery section start
.gallery-section {
  margin: 0 150px;
  margin-top: 100px;
  h4 {
    color: #616161;
    font-family: $font-poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
    span {
      margin-top: 16px;
      display: block;
      color: #313131;
      font-size: 40px;
      font-weight: 600;
    }
  }
}

.grid-wrapper {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: inline-block;
    border-radius: 5px;
  }
  .item1 {
    grid-row: span 2;
    display: flex;
    justify-content: end;
  }
  .item2 {
    grid-row: span 2;
    grid-column: span 2;
    display: flex;
    align-items: end;
    justify-content: end;
  }

  .item3 {
    grid-row: span 3;
    display: flex;
    align-items: center;
    margin-top: 80px;
  }
  .item4 {
    display: flex;
    align-items: center;
    grid-row: span 2;
    margin-top: 155px;
  }
  .item5 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .item6 {
    grid-row: span 2;
    grid-column: span 2;
    display: flex;
    justify-content: end;
  }

  .item8 > img {
    width: 100%;
  }
  .item9 {
    grid-row: span 2;
    margin-top: 18px;
  }
}
// footer section styling start
footer {
  border-top: 2px solid #d9d9d9;
  margin-top: 50px;
  .copyright-area {
    border-top: 0.5px solid #d9d9d9;

    p {
      color: #000;
      font-family: $font-poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: inherit;
    }
  }
}
.footer-section {
  margin: 0 100px;
  margin-top: 68px;
  display: flex;
  justify-content: space-evenly;

  .brand-area {
    .brand-logo {
      position: relative;
      display: inline-block;
      img {
        width: 80px;
        height: auto;
      }
      &::after {
        content: "";
        position: absolute;
        background-color: $primary-text-color;
        bottom: 4px;
        right: -8px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
      }
    }
    p {
      margin-top: 52px;
      color: #9f9f9f;
      font-family: $font-poppins;
      font-size: 16px;
      font-weight: normal;
      line-height: inherit;
    }
  }
  .link-heading,
  .input-heading,
  .link-item {
    margin-bottom: 68px;
    color: #9f9f9f;
    font-family: $font-poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  .group {
    .link-items > .link-item {
      margin-bottom: 32px;
      color: #000;
      font-family: $font-poppins;
    }
  }
  .input-group {
    input {
      border: 0px;
      outline: none;
      margin-right: 10px;
      padding: 5px 0;
      border-bottom: 1px solid $primary-text-color;
      color: $primary-text-color;
      &::placeholder {
        color: #9f9f9f;
        font-family: $font-poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
      }
    }
    .subscribe {
      padding: 5px 0;
      border-bottom: 1px solid $primary-text-color;
      color: #000;
      font-family: $font-poppins;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
  }
}
// shop page styling start
.shop-page {
  .product-section {
    margin-top: 0;
    // .product-wrap{
    //   margin-top: 0;
    // }
  }
}
.shop-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/assets/shop-header.png);
  background-repeat: no-repeat;
  object-fit: cover;
  margin: 0 auto;
  width: 1440px;
  height: 260px;
  text-align: center;

  h3 {
    color: #000;
    font-size: 48px;
    font-weight: 500;
    line-height: 150%;
  }
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: #000;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
    }
    .active {
      font-weight: 300;
    }
    span {
      margin: 0 8px;
      font-weight: 400;
      font-size: 24px;
    }
  }
}
// filtering area
.shop-filtering {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
  padding: 42px 48px;
  background: #f9f1e7;
  .filter-area {
    display: flex;
    justify-content: center;
    align-items: center;
    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-right: 22px;
        &:first-child {
          margin-right: 8px;
        }
      }
      span {
        margin-right: 22px;
        color: #000;
        font-size: 20px;
        font-weight: 400;
        line-height: inherit;
      }
    }
    .vartical {
      margin-right: 22px;
      background: #9f9f9f;
      width: 2px;
      height: 37px;
    }
    p {
      color: #000;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .selection-area {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin-left: 22px;
      color: #000;
      font-size: 20px;
      font-weight: 400;
      line-height: inherit;
      span {
        margin-left: 8px;
        padding: 12px 16px;
        color: #9f9f9f;
        background: #fff;
      }
    }
  }
}
